#img {
    display: block;
    color: rgb(0, 0, 0);
    padding: 7px 25px;
    text-decoration: none;
    border-right: 1px solid rgb(255, 255, 255) ;
}
#img:hover {
    background-color: rgb(0, 191, 255);
    
}
img{
    height: 0.5cm;
}
#nav{
    border-top: 1px solid rgb(255, 255, 255);
}
#nav li {
    float: left;
    list-style: none;
}
#norm {
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-decoration: none;
    border-right: 1px solid rgb(255, 255, 255) ;
}
#norm:hover {
    background-color: rgb(0, 191, 255);
    color: aliceblue;
}

#end{
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-decoration: none;
}

#end:hover {
    background-color: rgb(0, 191, 255);
    color: aliceblue;
}

a{
    font-family:sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 10cm 15cm 10cm;
    float: left;
    margin-left: 1.5cm;
}

.body{
    display: grid;
    grid-template-rows: 2cm 0cm;
    font-family: sans-serif;
}
#sidebar2{
    margin-left: 1cm;
}

#header{
    background-color: rgb(123, 221, 253);
}
body{
    background-color: rgb(170, 234, 255);
}
.footer{
    height: 5cm;
    width: 40cm;
    background-color: rgb(123, 221, 253);
    float: bottom;
}
#down{
    height: 340px;
}
h4{
    padding-left: 1cm;
}